<h1>Messages</h1>

<div class="row">
	<div class="col-md-4">
		<label for="sort">Sort by :</label>
		<select ng-model="messagesList.var_sort" class="form-control" id="sort">
			<option></option>
			<option value="name">Name</option>
			<option value="message">Message</option>
		</select>
	</div>

	<div class="col-md-4">
		<label for="search">Search :</label>
		<input type="text" ng-model="var_search" id="search" class="form-control">
	</div>

</div>
<hr>
<div class="row">
	<div class="col-md-7">
	<ul>
		<li ng-repeat="var_item in messagesList.messages | filter:var_search |  orderBy:messagesList.var_sort ">
				<label>Name :</label> {{ var_item.name | uppercase}}<br> 
				<label>Phone :</label> {{ var_item.phone }}<br> 
				<label>Message :</label> {{ var_item.message }}
				<hr>
		</li>
	</ul>
	</div>
</div>




